 <header class="headSec">
      <h1> GYMXYZ </h1>
      
      <ul>
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "ABOUT", about_path %></li>
        <li><%= link_to "MEMBERSHIPS", shop_path %></li>
        <li><%= link_to "SCHEDULE", categories_path %></li>
        <li><%= link_to "CONTACT", contact_path %></li>
        <li><%= link_to "REGISTER", new_user_registration_path %></li>
        <li><%= link_to "LOGIN", new_user_session_path %></li>
        <li><%= link_to "CART", cart_path %></li>
        
        
      </ul>
      
      
    </header>