<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | GYMXYZ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    
   
    
    
    <div class="container">
      <div id="content">
        <p class="notice"><%= flash[:notice] %></p>

    <%= yield %>
          
    </div>
   <div class="mainCont">
    
    <%= render 'layouts/cart' %>

    
    </div>
    

      </div>
      
     <div class="mainCont">
    <h2>SEARCH</h2>
    
    <%= render 'layouts/search' %>

    
    </div>
    </div>
    </div>
     <%= render 'layouts/footer' %>
  </body>
</html>
